{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h3 class="fw-bold mb-1">Select Class & Date</h3>
        <p class="text-muted mb-0">Choose the class and attendance date.</p>
    </div>

    <a href="{% url 'attendance_dashboard' %}" class="btn btn-outline-secondary">Back</a>
</div>

<form method="post">
    {% csrf_token %}

    <div class="content-card">
        <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Attendance Date</label>
                {{ form.date }}
                {{ form.date.errors }}
            </div>

            <div class="col-md-6">
                <label class="form-label">Class</label>
                {{ form.school_class }}
                {{ form.school_class.errors }}
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-primary px-4">Continue</button>
        </div>
    </div>
</form>
{% endblock %}